<nav>
    <h1>Databases</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/shops">Shops</a></li>
        <% if(isAuth){ %>
            <li><a href="/users/user">Profile</a></li>
            <li><a href="/api/users/logOut">Log Out</a></li>
        <% }else{ %>
            <li><a href="/logIn">Log In</a></li>
            <li><a href="/signUp">Sign Up</a></li>
        <% } %>
    </ul>
</nav>