<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<html>
    
    <%- include("./partials/header.ejs") %>
    <body>
        <h1>Welcome to DnD Backpack!</h1>
        <h2>A database of items for DnD 3.5, as well as utilties for them</h2>
        <br>
        <h2>Major Planned Features:</h2>
        <hr>
        <div>
            <h3>Database and API</h3>
            <ul>
                <li>Robust database of items</li>
                <li>API support</li>
            </ul>
            <h4>Currently: </h4><p>In production, has basic crud functionality and sample items for testing</p>
        </div>
        <hr>
        <div>
            <h3>Character Creator</h3>
            <ul>
                <li>Creation wizard that walks you through the process of making a character from start to finish</li>
                <li>Both official and homebrew support</li>
                <li>Save characters online as well as download character sheets</li>
                <li>Cut-down version for npcs</li>
                <li>Character randomizer</li>
            </ul>
            <h4>Currently: </h4><p>Character creator does exist but as older project. I will be remaking it on this site</p>
        </div>
        <hr>
        <div>
            <h3>Equipment Manager</h3>
            <ul>
                <li>Add items to character inventories and npc shops</li>
                <li>Equip characters and make different loadouts</li>
                <li>Loot hoard generator</li>
            </ul>
            <h4>Currently: </h4><p>Pre-poduction</p>
        </div>
        <hr>
        <div>
            <h3>Tabletop Helper App</h3>
            <ul>
                <li>Add characters to parties</li>
                <li>Secret messages and handout support</li>
                <li>Drop items and loot hoards for both characters and parties</li>
            </ul>
            <h4>Currently: </h4><p>Pre-production</p>
        </div>
    </body>
</html>