<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <h1>Create Item</h1>
        <form action="/api/items/create-item?_method=POST" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <br><br>
            <label for="type">Type</label>
            <input type="text" id="type" name="type">
            <br><br>
            <label for="slot">Slot</label>
            <input type="text" id="slot" name="slot">
            <br><br>
            <label for="price">Price</label>
            <input type="text" id="price" name="price">
            <br><br>
            <label for="source">Source</label>
            <input type="text" id="source" name="source">
            <br><br>
            <label for="weight">Weight</label>
            <input type="text" id="weight" name="weight">
            <br><br>
            <input type="submit" name="_method" value="Create Item">
        </form>
    </body>
</html>